.mat-tab-nav-bar {
    background-color: #3a3e46;
    color: white;
}

.mat-tab-link:hover {
    color: lightgray;
    text-decoration: none;
}

.mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background: #42474f;
    background-color: #42474f !important;
}

app-greeting {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}

app-status-info {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}

app-your-bookings {
    height: 100% !important;
}

app-current-day-bookings {
    height: 100% !important;
}
