<div class="header">
    <button class="closeButton" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    
    <p class="heading">Book working place</p>
</div>

<div class="container">
    <form [formGroup]="bookingForm" class="form">
        <div class="date-wrapper">
            <p class="date-header">SELECT TIME</p>
            <mat-radio-group aria-label="Select an option" formControlName="type">
                <div class="grid">
                    <mat-radio-button [value]="bookingType.FirstHalfBooked">10 AM - 2 PM</mat-radio-button>
                    <mat-radio-button [value]="bookingType.SecondHalfBooked" class="margin-left-10px">2 PM - 6 PM</mat-radio-button>
    
                    <mat-radio-button [value]="bookingType.Booked">ALL DAY LONG</mat-radio-button>
                    <mat-radio-button [value]="bookingType.BookedPermanently" class="margin-left-10px">FREEZE</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>

        <div>
            <p>SELECT DATE</p>
            <mat-form-field appearance="fill" class="date-select">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
</div>

<button type="submit" class="submitButton" (click)="submitButton()">Book</button>
