* {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 4.95%;
}

.container {
    display: flex;
    align-items: center;
    justify-self: end;
}

.profile {
    display: flex;
}

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid;
    border-color: lightgray;
    background-color: #586270;
    color: #68b70c;
    user-select: none;

    display: flex;

    align-items: center;
    justify-content: center;
}
