<div class="super-container">
    <div class="container">
        <div class="date">
            <p class="date-text">{{ date }}</p>
            <button mat-button>
                <mat-icon class="date-icon">calendar_today</mat-icon>
            </button>
        </div>

        <hr />

        <div class="table-wrapper">
            <h4>MAP OF THE 5TH FLOOR</h4>
            
            <div class="tables">
                <div class="table-cluster" *ngFor="let table of range">
                    <div class="triangle-up">
                        <button class="table-button"></button>
                        <button class="table-button"></button>
                        <button class="table-button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
