<div class="super-container">
    <div class="container">
        <div class="date">
            <p class="date-text">{{ dateString }}</p>
            <button mat-button (click)="openDatePicker($event)">
                <mat-icon class="date-icon">calendar_today</mat-icon>
            </button>
        </div>

        <hr />

        <div class="table-wrapper">
            <h4>MAP OF THE 5TH FLOOR</h4>
            
            <div class="table-container">
                <div class="table-cluster" *ngFor="let tableCluster of clusterRange">
                    <div class="triangle-up p-absolute"></div>

                    <div class="p-absolute tables">
                        <div *ngFor="let tableItself of tableRange" [ngClass]="tableItself == 2 ? 'bottom' : ''">
                            <button attr.id="{{tableCluster * 3 + 1 + tableItself}}.0" class="table-button"
                                [ngClass]="{
                                    'free-place': tables[tableCluster * 3 + tableItself].bookingType === bookingType.Available,
                                    'booked-place': tables[tableCluster * 3 + tableItself].bookingType === bookingType.Booked,
                                    'unavailable-place': tables[tableCluster * 3 + tableItself].bookingType === bookingType.BookedPermanently,
                                    'half-booked-place': tables[tableCluster * 3 + tableItself].bookingType === bookingType.FirstHalfBooked ||
                                        tables[tableCluster * 3 + tableItself].bookingType === bookingType.SecondHalfBooked
                                }">
                                <span *ngIf="getBookingName(tableCluster * 3 + 1 + tableItself) === ''">
                                    +
                                </span>
                                
                                <span *ngIf="getBookingName(tableCluster * 3 + 1 + tableItself) !== ''">
                                    {{ getBookingName(tableCluster * 3 + 1 + tableItself) | initials }}
                                </span>
                            </button>
    
                            <button attr.id="{{tableCluster * 3 + 1 + tableItself}}.5" class="table-button"
                                *ngIf="tables[tableCluster * 3 + tableItself].bookingType === bookingType.FirstHalfBooked ||
                                    tables[tableCluster * 3 + tableItself].bookingType === bookingType.SecondHalfBooked"
                                    [ngClass]="{
                                        'free-place': tables[tableCluster * 3 + tableItself].bookingType !== tables[tableCluster * 3 + tableItself].bookingType2,
                                        'half-booked-place': tables[tableCluster * 3 + tableItself].bookingType === tables[tableCluster * 3 + tableItself].bookingType2
                                    }">
                                <span *ngIf="getBookingName2(tableCluster * 3 + 1 + tableItself) === getBookingName(tableCluster * 3 + 1 + tableItself)">
                                    +
                                </span>
                                
                                <span *ngIf="getBookingName2(tableCluster * 3 + 1 + tableItself) !== getBookingName(tableCluster * 3 + 1 + tableItself)">
                                    {{ getBookingName2(tableCluster * 3 + 1 + tableItself) | initials }}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
