<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link [routerLink]="'work-place'" (click)="activeLink='work-place'"
        [active]="activeLink === 'work-place'">
        Work places
    </a>

    <a mat-tab-link [routerLink]="'meeting'" (click)="activeLink='meeting'" [active]="activeLink === 'meeting'">
        Meeting room
    </a>

    <div class="container" >
        <div class="user.avatar">
            <img *ngIf="user.avatar !== ''" [src]="user.avatar" class="avatar-image">
            <p *ngIf="user.avatar === ''">{{ user.firstName + ' ' + user.lastName | initials }}</p>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" class="profile">
            {{ user.firstName + ' ' + user.lastName }}
            <mat-icon aria-hidden="false" aria-label="Arrow">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog()">Profile</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</nav>
