@import "src/styles.scss";

* {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 4.95%;
}

.container {
    display: flex;
    align-items: center;
    justify-self: end;
}

.profile {
    display: flex;
}

$avatar-background: #586270;

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid;
    border-color: lightgray;
    background-color: $avatar-background;
    color: $green;
    user-select: none;

    display: flex;

    align-items: center;
    justify-content: center;
}
