@import "src/styles.scss";

.container {
    background-color: $popup-background;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}

.booking {
    font-size: large;
}

.date {
    color: $green;
}

.name-and-avatar {
    display: flex;
}

.avatar-wrapper {
    margin-left: 10px;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    transform: translate(0, -50%);
    border: 2px solid $green;
}
