.container {
    background: #3a3e46;
    color: white;
    border-radius: 5px;

    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    .list-item {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 15px;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        .booked-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #ce6a45;
            color: white;
            -webkit-user-select: none;    
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
        }

        .half-booked-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #d6a93e;
            color: white;
            -webkit-user-select: none;    
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
        }

        .unavailable-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #525e6d;
            color: #68b70c;
            -webkit-user-select: none;    
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }
}

.current-day-bookings {
    margin-bottom: 10px;
}

h4, h5, p {    
    margin: 0;
    padding: 0;
}

.max-height {
    max-height: 342px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #68b70c;
}

::-webkit-scrollbar-track {
    background: #C4C4C4;
}
