<div class="super-container">
    <div class="container">
        <h4 class="current-day-bookings">CURRENT DAY BOOKINGS</h4>
    
        <div role="list" class="grid max-height">
            <div role="listitem" *ngFor="let booking of bookings" class="list-item max-height">
                <div class="avatar booked-place" *ngIf="booking.bookingType == 1">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
        
                <div class="avatar half-booked-place" *ngIf="booking.bookingType == 2">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
        
                <div class="avatar half-booked-place" *ngIf="booking.bookingType == 3">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
        
                <div class="avatar unavailable-place" *ngIf="booking.bookingType == 4">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
        
                <div class="info">
                    <p>{{ booking.userFullName }}</p>
        
                    <p *ngIf="booking.bookingType == 2">10 am - 14 pm</p>
                    <p *ngIf="booking.bookingType == 3">14 pm - 18 pm</p>
                </div>
            </div>
        </div>
    </div>
</div>
