<div class="header">
    <button class="close-button" (click)="close()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    
    <p class="heading">Profile settings</p>
    
    <div class="avatar-wrapper">
        <img *ngIf="user.avatar !== ''" [src]="user.avatar" class="avatar-image">
        <p *ngIf="user.avatar === ''" class="initials">
            <span class="text">
                {{ user.firstName + ' ' + user.lastName | initials }}
            </span>
        </p>
    </div>
</div>

<form [formGroup]="userForm" class="background">
    <div class="container">
        <div>
            <mat-form-field class="input-class-half" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
            
            <mat-form-field class="input-class-half" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field class="input-class-full" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field class="input-class-full" appearance="fill">
                <mat-label>Status</mat-label>
                <input matInput formControlName="status">
            </mat-form-field>
        </div>

    </div>

    <button type="submit" (click)="submit()" class="submit-button">Save Changes</button>
</form>
