.input-class-full {
    width: 100%;
}

.input-class-half {
    width: 50%;
}

.background {
    background: #42474f;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-color: #73bf17;
    color: white;
    border: none;
    height: 35px;
}

.container {
    padding: 10px;
}
