@import "src/styles.scss";

.green-background {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: $green;
    padding: 0px 20px;
    color: white;
}
