app-greeting{
    display: flex;
    align-items: center;
    height: 100%;
}
.green-background {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    align-self: stretch;
    background: #68b70c;
    padding: 0px 20px;
    color: white;
}
