@use '~@angular/material' as mat;

@import 'app/shared/modules/angular-material/angular-material.style.scss';

@include mat.core();

p {
  margin: 0 !important;
}

html { height: 100%; }
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Segoe UI", sans-serif !important;
}

$my-primary: mat.define-palette(mat.$light-green-palette, 600);
$my-accent: mat.define-palette(mat.$light-green-palette, 600);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

$green: #68b70c;
$component-background: #3a3e46;
$popup-background: #42474f;
$page-background: #2c2c2c;

$free-place-background: #ebebec;
$booked-place-background: #ce6a45;
$booked-permanently-place-background: #525e6d;
$half-booked-place-background: #d6a93e;
