@import "src/styles.scss";

.super-container {
    height: 100%;
    background: $component-background;
    color: white;
    border-radius: 5px;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    .list-item {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 15px;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            user-select: none;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .booked-place {
            border-color: $green;
            background-color: $booked-place-background;
            color: white;
        }

        .half-booked-place {
            border-color: $green;
            background-color: $half-booked-place-background;
            color: white;
        }

        .unavailable-place {
            border-color: $green;
            background-color: $booked-permanently-place-background;
            color: $green;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }
}

.your-bookings {
    margin-bottom: 10px;
}

p {    
    margin: 0;
    padding: 0;
}

.max-height {
    max-height: 342px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #68b70c;
}

::-webkit-scrollbar-track {
    background: #C4C4C4;
}
