<form [formGroup]="loginForm">
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput forControlName="username">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput forControlName="username">
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" type="submit" (click)="submit()">Log in</button>
</form>

<a href="#">Forgot Password</a>
