@import "src/styles.scss";

.input-class {
    width: 100%;
}

.page {
    height: 94.95%;
    background-color: $page-background;
    display: flex;
    justify-content: center;
    align-items: center;
}

.super-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    // position: absolute;
    // top: 40%;
    // left: 50%;
    transform: translate(0%, 15%);
}

.container {
    background: $popup-background;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 30px;
    margin: 0 !important;

    width: 400px;
    height: 175px;   
}

.green-patyk {
    background-color: $green;
    height: 8px;
    width: 460px;
}

.submit-button {
    background-color: $green;
    border: none;
    border-radius: 0 0 10px 10px;
    width: 460px;
    height: 50px;
    color: white;
    font-size: larger;
}

.image {
    transform: scale(0.4);
}

a {
    color: $green;
}
