<div class="page">
    <div class="super-container">
        <div class="green-patyk"></div>
        <div class="container">
            <form [formGroup]="loginForm">
                <mat-form-field class="input-class" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput forControlName="username">
                </mat-form-field>

                <mat-form-field class="input-class" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput forControlName="username">
                </mat-form-field>

                <a>Forgot Password?</a>
            </form>
        </div>

        <button type="submit" (click)="submit()" class="submit-button">Sign in</button>

        <img src="../../../../assets/exoft-logo-image.png" class="image">
    </div>
</div>
