<div class="super-container">
    <div class="container">
        <h4 class="your-bookings">YOUR BOOKINGS</h4>
    
        <div role="list" class="grid max-height">
            <div role="listitem" *ngFor="let booking of bookings" class="list-item">
                <div class="booked-place" *ngIf="booking.bookingType == 1">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
    
                <div class="unavailable-place" *ngIf="booking.bookingType == 2">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
    
                <div class="half-booked-place" *ngIf="booking.bookingType == 4 || booking.bookingType == 3">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
    
                <div class="info">
                    <p>{{ booking.userFullName }}</p>
                    <p>{{ booking.date }}</p>
    
                    <p *ngIf="booking.bookingType == 3">10 am - 14 pm</p>
                    <p *ngIf="booking.bookingType == 4">14 pm - 18 pm</p>
                </div>
            </div>
        </div>    
    </div>
</div>
