<div class="super-container">
    <div class="container">
        <h4 class="your-bookings">YOUR BOOKINGS</h4>
    
        <div role="list" class="grid max-height">
            <div role="listitem" *ngFor="let booking of bookings" class="list-item">
                <div class="avatar booked-place" *ngIf="booking.bookingType == bookingType.Booked">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
    
                <div class="avatar unavailable-place" *ngIf="booking.bookingType == bookingType.BookedPermanently">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
    
                <div class="avatar half-booked-place" *ngIf="booking.bookingType == bookingType.FirstHalfBooked || booking.bookingType == bookingType.SecondHalfBooked">
                    <p>{{ booking.userFullName | initials }}</p>
                </div>
    
                <div class="info">
                    <p>{{ booking.userFullName }}</p>
                    <p>{{ booking.date }}</p>
    
                    <p *ngIf="booking.bookingType == 3">10 am - 2 pm</p>
                    <p *ngIf="booking.bookingType == 4">2 pm - 6 pm</p>
                </div>
            </div>
        </div>    
    </div>
</div>
