@import "src/styles.scss";

.super-container {
    background-color: $component-background;
    color: white;
    border-radius: 5px;
    height: 100%;
}

.container {
    padding: 20px;
}

.date {
    font-weight: bold;
    display: flex;
    align-items: center;
}   

.date-text {
    margin-right: 10px !important;
}

.date-icon {
    color: #68b70c;
}

hr {
    margin: 10px -20px !important;
    border: none;
    height: 1px;
    background-color: rgb(114, 114, 114);
}
