<div class="container">
    <div>
        <div class="container">
            <div>
                <app-greeting>Here you can all see working places in the office and book any of the available ones!</app-greeting>
            </div>
        
            <div class="status-info">
                <app-status-info></app-status-info>
            </div>
        </div>
    
        <div class="tables">
            <app-tables></app-tables>
        </div>
    </div>

    <div>
        <div>

        </div>

        <div>

        </div>
    </div>
</div>
