@import "src/styles.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $component-background;
    color: white;
    border-radius: 5px;
    width: 100%;

    padding: 0px 30px;

    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0;
    padding: 0;

    .grid-item {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 15px;
        align-items: center;
        margin: 0;
        padding: 0;

        .status {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            user-select: none;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .free-place {
            border-color: $green;
            background-color: $free-place-background;
            color: $green;
            font-size: large;
        }

        .booked-place {
            border-color: $green;
            background-color: $booked-place-background;
        }

        .half-booked-place {
            border-color: $green;
            background-color: $half-booked-place-background;
        }

        .unavailable-place {
            border-color: $green;
            background-color: $booked-permanently-place-background;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }
}

.status-name {
    margin: 0;
    padding: 0;
    font-weight: normal;

    font-size: medium;
}

.status-description {
    margin: 0;
    padding: 0;
    font-weight: normal;

    font-size: small;
}

h4 {
    margin: 0 0 5px 0;
}
