<div class="container">
    <h4>STATUSES OF WORKING PLACES</h4>

    <div class="grid">
        <div class="grid-item">
            <div class="free-place">
                <p>+</p>
            </div>
    
            <div class="info">
                <p class="status-name">Free place</p>
                <p class="status-description">click on it to book</p>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="half-booked-place"></div>
    
            <div class="info">
                <p class="status-name">Place is booked for half a day</p>
                <p class="status-description">you can book the other half</p>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="booked-place"></div>
    
            <div class="info">
                <p class="status-name">Place is already booked</p>
                <p class="status-description">you can see who booked it</p>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="unavailable-place"></div>
    
            <div class="info">
                <p class="status-name">Place is not available for booking</p>
                <p class="status-description">it means the place belongs to someone</p>
            </div>
        </div>
    </div>
</div>
