<div class="container">
    <h3 style="height: 10%; margin-bottom: 5px;">STATUSES OF WORK PLACES</h3>

    <div style="height: 90%;">
        <div style="display: inline-block; width: 50%; height: 100%;">
            <div style="width: 100%; height: 50%; background: lightcoral;">
                <div style="height: 100%; width: 20%; display: inline-block">
                    <span class="circle plus-sign free-place"></span>
                </div>

                <div style="height: 100%; width: 80%; display: inline-block;">
                    <div style="background: maroon; height: 50%; display: block;">
                        <span>asd</span>
                    </div>
                    
                    <div style="background: aqua; height: 50%; display: block;">
                        <span>asd</span>
                    </div>
                </div>
            </div>
            
            <div style="width: 100%; height: 50%; background: limegreen">
                <div style="height: 100%; width: 20%; display: inline-block">
                    <span class="circle plus-sign free-place"></span>
                </div>

                <div style="height: 100%; width: 80%; display: inline-block;">
                    <div style="background: hotpink; height: 50%; display: block;">
                        <span>asd</span>
                    </div>
                    
                    <div style="background: teal; height: 50%; display: block;">
                        <span>asd</span>
                    </div>
                </div>
            </div>
        </div>
    
        <div style="display: inline-block; width: 50%; height: 100%;">
            <div style="width: 100%; height: 50%; background: coral;">
                <div style="height: 100%; width: 20%; display: inline-block">
                    <span class="circle booked-place plus-sign"></span>
                </div>

                <div style="height: 100%; width: 80%; display: inline-block;">
                    <div style="background: plum; height: 50%; display: block;">
                        asd
                    </div>
                    
                    <div style="background: purple; height: 50%; display: block;">
                        asd
                    </div>
                </div>
            </div>
            
            <div style="width: 100%; height: 50%; background: green">
                <div style="height: 100%; width: 20%; display: inline-block">
                    <span class="circle plus-sign free-place"></span>
                </div>

                <div style="height: 100%; width: 80%; display: inline-block;">
                    <div style="background: saddlebrown; height: 50%; display: block;">
                        asd
                    </div>
                    
                    <div style="background: crimson; height: 50%; display: block;">
                        asd
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
