// * {
//     box-sizing: border-box;
//     margin: 0 !important;
//     padding: 0 !important;
// }

.container {
    background: #3a3e46;
    color: white;
    border-radius: 5px;

    padding: 10px 30px;

    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0;
    padding: 0;

    .grid-item {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 15px;
        align-items: center;
        margin: 0;
        padding: 0;

        .free-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #ebebec;
            color: #68b70c;
            font-size: large;
            -webkit-user-select: none;    
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
        }

        .booked-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #ce6a45;
        }

        .half-booked-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #d6a93e;
        }

        .unavailable-place {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid;
            border-color: #68b70c;
            background-color: #525e6d;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }
}

h4, h5, p {    
    margin: 0;
    padding: 0;
}
